/* Styel For All */
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* Primary Things */
.primaryBtn {
    border: none;
    border-radius: 8px;
    padding: 20px 40px 20px 40px;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* Front Part */
.frontPartSection {
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
}

.frontPart {
    display: flex;
    justify-content: space-around;
}

.frontDescription h2 {
    color: black;
    font-size: 80px;
    font-weight: 800;
    max-width: 708px;
    margin-top: 197px;
    margin-bottom: 32px;
}

.frontDescription p {
    max-width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 32px;
}

.frontImg {
    margin-top: 50px;
    width: 635px;
}

.frontImg img {
    width: 100%;
}

/* Freatured Flowers */

.freaturedFlowerDescription {
    text-align: center;
}

.freaturedFlowerDescription h4 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.freaturedFlowerDescription p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.freaturedFlower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.freaturedFlower a {
    color: black;
    font-weight: 700;
    font-size: 24px;
}

.freaturedFlowers {
    display: flex;
    justify-content: space-around;
    margin: 48px 0px 195px 0px;
}

.freturedFlowerBackground {
    display: flex;
    justify-content: center;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.freturedFlowerBackground img {
    margin-top: 110px;
    width: 310px;
    height: 428px;
}

.featredFlowerBackgroundColor1 {
    background: rgba(167, 33, 98, 0.15);
}

.featredFlowerBackgroundColor2 {
    background: rgba(5, 151, 160, 0.15);
}

.featredFlowerBackgroundColor3 {
    background: rgba(71, 125, 17, 0.15);
    ;
}

/* General Information */

.generalInfoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 128px;
}

.generalInfoContainer {
    width: 68%;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.generalsInfos {
    display: flex;
    align-items: center;
}

.generalinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#midFix {
    margin: 0 100px 0 100px;
}

.generalinfo p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600px;
    margin-top: 20px;
}

/* Hotdeal Section */
.hotDealSection {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hotDealCotenier {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hotDealDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hotDealDescription h3 {
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 21px;
}

.hotDealDescription h3 span {
    color: #E55473;
}

.hotDealDescription p {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-bottom: 52px;
}

.hotDealCotenier img {
    width: 318px;
    height: 420px;
}

.instagramSection h2 {
    color: #272727;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 21px;
}

.instagramSection p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
}

.instaPost{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 240px 128px 240px;
}
 
.instaPost img{
    width: 342px;
height: 396px;
}